:root {
  --dark: #082032;
  --medium: #2c394b;
  --light: #334756;
  --headings: #7c3e66;
  --accent: #758a9b;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--light);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  background-image: linear-gradient(var(--medium) 0%, var(--dark) 100%);
  color: var(--headings);
}

h2 {
  padding: 10px;
  color: var(--accent);
  font-size: 2vw;
  text-align: left;
}

h3 {
  padding: 4px;
  color: var(--accent);
  font-size: 1.8vw;
  width: 100%;
  text-align: left;
  font-weight: bold;
}

aside {
  float: left;
  min-width: 20%;
  min-height: 100vh;
  padding: 8px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-bottom: solid 2px var(--dark);
}

input {
  background-color: var(--accent);
  color: var(--dark);
  font-size: 1.3vw;
  width: 80%;
  padding: 6px;
  margin: 6px;
  border-radius: 6px;
}

button {
  background-color: var(--headings);
  color: var(--dark);
  font-weight: bold;
  font-size: 1.3vw;
  width: 90%;
  padding: 6px;
  margin: 6px;
  border-radius: 6px;
}

form button {
  background-color: var(--light);
  color: var(--dark);
}

form button:hover {
  background-color: var(--dark);
  color: var(--accent);
}

#weather-display {
  display: flex;
  flex-wrap: wrap;
  padding: 6px;
  margin: 6px;
}

#cityname-date {
  color: var(--dark);
}

#current-weather p {
  font-size: 1.5vw;
  margin-top: 5px;
}

.data {
  color: var(--dark);
  font-weight: bold;
}

#current-weather {
  border: solid 2px var(--dark);
  color: var(--accent);
  padding: 6px;
  margin: 6px;
  width: 100%;
}

#five-day-forecast {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.forecast-cards {
  border: solid 2px var(--dark);
  color: var(--accent);
  padding: 6px;
  margin: 6px;
  width: 18%;
}
